@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    --clear-day: url('./visuals/clear_day.svg');
    --partly-cloudy-day: url('./visuals/partly_cloudy_day.svg');
    --cloudy: url('./visuals/cloudy.svg');
    --heavy-rain: url('./visuals/showers_rain.svg');
    --drizzle: url('./visuals/drizzle.svg');
    --rain-drop: url('./visuals/rain_drop.svg');
    --thunder: url('./visuals/thunderstorms.svg');
    --night: url('./visuals/mostly_clear_night.svg');

    font-family: "Atkinson Hyperlegible", sans-serif;
}

/* --- TODAY --- */

.hero {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-self: center;
}

#error-message {
    font-size: small;
    font-family: 'Atkinson Hyperlegible Mono', sans-serif;
    color: rgb(219, 0, 0);
}

.user-input {
    display: flex;
    width: 600px;
    justify-self: center;
    gap: 6px;
}

.user-input > input,
.user-input > button {
    font-family: 'Atkinson Hyperlegible Mono', sans-serif;
    font-size: small;
}

.weather-information {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 2em;

    width: 600px;
}

.today {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.basic-info-container {
    display: flex;
}

.time-temp-container {
    display: flex;
    flex-direction: column;
}

#weather-icon {
    align-self: center;
    
    height: 52px;
    width: 52px;

    background-position: center;
    background-repeat: no-repeat;
}

#date-hi-lo {
    font-family: 'Atkinson Hyperlegible Mono', sans-serif;
    font-size: 10px;
    padding-left: 8px
}

#temp-amount {
    font-size: 28px;
    padding-left: 8px;
}

.extra-info-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: end;
}

#queried-address {
    font-size: small;
}

#today-conditions {
    font-weight: 300;
}

#cloud-cover {
    font-size: 10px;
}

.hourly-container {
    width: 300px;
    overflow: scroll;
}

.hourly-container span {
    padding: 2px;
}

.graph-container,
svg {
    width: 600px;
    height: 110px;
}

polyline {
    fill: none;
    stroke-width: 2px;
}

.temp-annotation {
    font: 12px Atkinson Hyperlegible Mono, sans-serif;
    font-weight: 600;
}

.hour-annotation {
    font: 10px Atkinson Hyperlegible Mono, sans-serif;
}

.rain-annotation {
    font: 8px Atkinson Hyperlegible Mono, sans-serif;
}

.rain-prob-line {
    stroke-width: 1px;
    stroke-dasharray: 2px 1px;
}

/* Sunrise and sunset gradients */
#night-stop0, #night-stop18 { stop-color: #00416c00; }
#night-stop1, #night-stop17 { stop-color: #00406c10; }
#night-stop2, #night-stop16 { stop-color: #003a6130; }
#night-stop3, #night-stop15 { stop-color: #003a6130; }
#night-stop4, #night-stop14 { stop-color: #00253e60; }
#night-stop5, #night-stop13 { stop-color: #00253e60; }
#night-stop6, #night-stop12 { stop-color: #001a2c90; }
#night-stop7, #night-stop11 { stop-color: #001a2c90; }
#night-stop8, #night-stop10 { stop-color: #233c4c; }
#night-stop9 { stop-color: #233c4c; }

#day-stop0, #day-stop18 { stop-color: #233c4c; }
#day-stop1, #day-stop17 { stop-color: #233c4c; }
#day-stop2, #day-stop16 { stop-color: #001a2c90; }
#day-stop3, #day-stop15 { stop-color: #001a2c90; }
#day-stop4, #day-stop14 { stop-color: #00253e60; }
#day-stop5, #day-stop13 { stop-color: #00253e60; }
#day-stop6, #day-stop12 { stop-color: #003a6130; }
#day-stop7, #day-stop11 { stop-color: #003a6130; }
#day-stop8, #day-stop10 { stop-color: #00406c10; }
#day-stop9 { stop-color: #00406c00; }

/* --- FORECAST --- */

.forecast {
    margin-top: 1em;
}

#forecast-week-container {
    display: flex;
    justify-content: space-between;
}

.forecast-day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-weather-icon {    
    height: 28px;
    width: 28px;
    padding: 4px 0 4px 0;

    background-position: center;
    background-repeat: no-repeat;
}

.forecast-temp-high,
.forecast-temp-low {
    font-family: 'Atkinson Hyperlegible Mono', sans-serif;
    font-size: 10px;
}

.forecast-temp-high {
    font-weight: 600;
}

.forecast-temp-low {
    font-weight: 200;
    color: gray;
}